[Desktop Entry]
Type=Application
Name=Open with Webcat
NotShowIn=X-MeeGo;
MimeType=text/html;x-maemo-urischeme/http;x-maemo-urischeme/https;
X-Maemo-Service=org.harbour.webcat
X-Maemo-Method=org.harbour.webcat.openUrl
